:root {

/* Colors: */
--unnamed-color-262389: #262389;
--unnamed-color-aaaaaa: #AAAAAA;
--unnamed-color-0a99ff: #0A99FF;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-000000: #000000;
--unnamed-color-0068e0: #0068E0;
}